<!DOCTYPE html>

<html>
    <head>
        <meta http-equiv="pragma" content="no-cache" charset="utf-8" />
        <link rel="shortcut icon" href="">
        <script language="javascript" type="text/javascript" src="static/scripts/libraries/p5.js"></script>
        <script language="javascript" type="text/javascript" src="static/scripts/star.js?v=2"></script>
        <script language="javascript" type="text/javascript" src="static/scripts/sketch.js?v=2"></script>
    </head>
    <body>
    </body>
</html>